import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.fahrenheit.provider.*;



sorcer.core.provider.ServiceProvider {
		properties = "..${/}configs${/}fahrenheit.properties";
		name="fahrenheitTomaszKerber";
		publishedInterfaces = new Class[] {sorcer.fahrenheit.provider.Temperature.class, sorcer.fahrenheit.provider.ServiceTemperature.class };
		description = "fahrenheitTomaszKerber";
		location = "SORCER Lab 20B - CS TTU";
		entries = new Entry[] { 
			FahrenheitUI.getUIDescriptor()
			//AccountView.getUIDescriptor(),
			//new Comment("fahrenheit"), 
			//new Location("3", "310", "CP TTU") 
		};
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        //iconName="sorcer.jpg";
}
	

